
    <!--<ion-content>-->
    <ion-slide-box id="tour-view">
        <ion-slide>
            <i class="icon ion-coffee  calm"></i><br/>
            <p>分享美食</p>
        </ion-slide>
        <ion-slide>
            <i class="icon ion-android-share-alt energized "></i><br/>
            <p>感受现在</p>
        </ion-slide>
        <ion-slide>
            <i class="icon ion-android-restaurant energized"></i><br/>
            <p>点击下边按钮吧</p>
            <br /><br />
            <button class="button button-balanced button-outline" ui-sref="tabs.home">Enter</button>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->

