<ion-view view-title="附近的餐厅">
    <ion-content id="nearMyContent">
        <div class="row" id="mynear">
            <div class="col col-33 col-offset-33" >附近餐厅</div>
            <div class="col col-offset-25"><i class="icon ion-social-instagram"></i></div>
        </div>
        <div id="content">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="images/xiangcunji.jpg"/>
                    <h2>乡村基（四公里店）</h2>
                    <p>烤鸭/外卖</p>
                </div>
                <div class="item item-image-left">
                    <img src="images/xiangcunji.jpg" style="height:164px"/>
                    <p>地址：重庆市南平四公里</p>
                    <p>联系方式：6463643646</p>
                    <p>味道鲜美，令人回味无穷</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="images/kendeji.jpg"/>
                    <h2>肯德基</h2>
                    <p>原味鸡腿/第二杯半价</p>
                </div>
                <div class="item item-image-left">
                    <img src="images/kendeji.jpg" style="height:164px"/>
                    <p>地址：重庆市工贸</p>
                    <p>联系方式：6463643646</p>
                    <p>味道鲜美，令人回味无穷</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="images/xiangcunji.jpg"/>
                    <h2>乡村基（四公里店）</h2>
                    <p>烤鸭/外卖</p>
                </div>
                <div class="item item-image-left">
                    <img src="images/xiangcunji.jpg" style="height:164px"/>
                    <p>地址：重庆市南平四公里</p>
                    <p>联系方式：6463643646</p>
                    <p>味道鲜美，令人回味无穷</p>
                </div>
            </div>
            <div class="list card">
                <div class="item item-avatar">
                    <img src="images/kendeji.jpg"/>
                    <h2>肯德基</h2>
                    <p>原味鸡腿/第二杯半价</p>
                </div>
                <div class="item item-image-left">
                    <img src="images/kendeji.jpg" style="height:164px"/>
                    <p>地址：重庆市工贸</p>
                    <p>联系方式：6463643646</p>
                    <p>味道鲜美，令人回味无穷</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>