<ion-view view-title="活动视频">

    <ion-content id="video">
        <!--点击回到主页-->

        <a class="item"  ui-sref="tabs.home" style="font-size:16px;color:#e6b500"> <i class="icon ion-chevron-left"></i>回到主页</a>
        <p class="title">美食活动视频,教大家做出完美菜肴</p>
        <div class="list card" >
            <div class="item item-image-left">
                <p><img src="images/haochi4.jpg" style="height:164px;width:80%"/></p>
                <h3>只需要15分钟，就能学的会</h3>
                <br/>
                <p>
                    <a href="#" class="subdued">584人浏览</a>
                    <a href="#" class="subdued">48人收藏</a>
                </p>
            </div>
        </div>
        <div class="list card" >
            <div class="item item-image-left">
                <p><img src="images/haochi4.jpg" style="height:164px;width:80%"/></p>
                <h3>只需要15分钟，就能学的会</h3>
                <br/>
                <p>
                    <a href="#" class="subdued">584人浏览</a>
                    <a href="#" class="subdued">48人收藏</a>
                </p>
            </div>
        </div>
        <div class="list card" >
            <div class="item item-image-left">
                <p><img src="images/haochi4.jpg" style="height:164px;width:80%"/></p>
                <h3>只需要15分钟，就能学的会</h3>
                <br/>
                <p>
                    <a href="#" class="subdued">584人浏览</a>
                    <a href="#" class="subdued">48人收藏</a>
                </p>
            </div>
        </div>
        <div class="list card" >
            <div class="item item-image-left">
                <p><img src="images/haochi4.jpg" style="height:164px;width:80%"/></p>
                <h3>只需要15分钟，就能学的会</h3>
                <br/>
                <p>
                    <a href="#" class="subdued">584人浏览</a>
                    <a href="#" class="subdued">48人收藏</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>