<ion-view view-title="购物车" id="shoppingcart">
    <ion-content>
        <!--<p class="header">探探<i class="icon ion-chatbubble"></i></p>-->
        <div class="row" id="header">
            <div class="col col-33 col-offset-33" >探　　 探</div>
            <div class="col col-offset-25"><i class="icon ion-chatbubble"></i></div>
        </div>
        <!--轮播-->
        <ion-slide-box does-continue="true" auto-play="true"
                       slide-interval="2500" id="slideBox" >
            <ion-slide>
                <div class="box"><img src="images/slide_pic_1.jpg" /></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/slide_pic_2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box"><img src="images/slide_pic_3.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
        <!--精选时刻-->
        <div class="row " id="tantan_lookHere">
            <div class="col col-25 ">
                <div><img src="images/banner1.jpg"/></div>
                <p>深夜食堂</p>
            </div>
            <div class="col col-25 ">
                <div><img src="images/banner2.jpg"/></div>
                <p>三餐会</p>
            </div>
            <div class="col col-25">
                <div><img src="images/banner3.jpg"/></div>
                <p>美食见</p>
            </div>
            <div class="col col-25">
                <div><img src="images/banner4.jpg"/></div>
                <p>久久不忘</p>
            </div>
        </div>
        <!--评论时刻-->
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/touxiang1.jpg"/>
                <h2>刘呢能</h2>
                <p>十分钟之前</p>
            </div>
            <div class="item item-image-left">
                <p>丰盛的早餐开始了</p>
                <img src="images/haochi2.jpg" style="height:164px"/>
                <p>
                    <a href="#" class="subdued">1 喜欢</a>
                    <a href="#" class="subdued">5 评论</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/touxiang2.jpg"/>
                <h2>阿笨</h2>
                <p>1小时之前</p>
            </div>
            <div class="item item-image-left">
                <p>牛奶面包更配</p>
                <img src="images/haochi1.jpg" style="height:164px"/>
                <p>
                    <a href="#" class="subdued">4 喜欢</a>
                    <a href="#" class="subdued">5 评论</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/touxiang3.jpg"/>
                <h2>非非</h2>
                <p>2小时之前</p>
            </div>
            <div class="item item-image-left">
                <p>唯有美食不可辜负</p>
                <img src="images/haochi3.jpg" style="height:164px"/>
                <p>
                    <a href="#" class="subdued">5 喜欢</a>
                    <a href="#" class="subdued">1 评论</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/touxiang4.jpg"/>
                <h2>天很lan~~</h2>
                <p>4小时之前</p>
            </div>
            <div class="item item-image-left">
                <p>我要开动了</p>
                <img src="images/haochi4.jpg" style="height:164px"/>
                <p>
                    <a href="#" class="subdued">5 喜欢</a>
                    <a href="#" class="subdued">1 评论</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/touxiang4.jpg"/>
                <h2>天很lan~~</h2>
                <p>4小时之前</p>
            </div>
            <div class="item item-image-left">
                <p>我要开动了</p>
                <img src="images/haochi4.jpg" style="height:164px"/>
                <p>
                    <a href="#" class="subdued">5 喜欢</a>
                    <a href="#" class="subdued">1 评论</a>
                </p>
            </div>
        </div>


    </ion-content>

</ion-view>